h1 {
	font-family:'Publico-Black';
	font-size:42px;
}

h2 {
	font-family:'Publico-Black';
	font-weight:normal;
	margin-bottom:1rem;
}

h3 {
	font-family:'Publico-Medium';
	margin-bottom:1rem;
}

h5 {
	font-family:'Boomer';
}

p {
	font-family:'PublicoText';
	font-size:16px;
	line-height:2rem;
}




/* section colors */

.bg-ajc-blue {
	background-color:#004181;
}
.color-ajc-blue {
	color:#004181;
}
.bg-news-bright-red {
	background-color:#ed1c24;
}
.color-news-bright-red {
	color:#ed1c24;
}
.bg-news-brass {
	background-color:#e0b446;
}
.color-news-brass {
	color:#e0b446;
}
.bg-metro-brick {
	background-color:#bc0412;
}
.color-metro-brick {
	color:#bc0412;
}
.bg-biz-olive {
	background-color:#7b9540;
}
.color-biz-olive {
	color:#7b9540;
}
.bg-features-purple {
	background-color:#91268f;
}
.color-features-purple {
	color:#91268f;
}
.bg-features-blue {
	background-color:#45bfdb;
}
.color-features-blue {
	color:#45bfdb;
}
.bg-features-orange {
	background-color:#f7931d;
}
.color-features-orange {
	color:#f7931d;
}
.bg-sports-teal {
	background-color:#0088b2;
}
.color-sports-teal {
	color:#0088b2;
}

/* data colors */

.data-red {
	background-color: #bb2326;
}
.data-orange {
	background-color: #dc6226;
}
.data-yellow {
	background-color: #f4cc22;
}
.data-green {
	background-color: #139e49;
}
.data-blue {
	background-color: #1a84a5;
}
.data-indigo {
	background-color: #1f4597;
}
.data-violet {
	background-color: #472e7e;
}

